$black-800: #1f2937;
$black-900: #111827;
$black-950: #0f172a;

$white: #ffffff;

$red-500: #ef4444;
$green-500: #16a34a;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;

$white-opacity-06: rgba(255, 255, 255, 0.06);
$white-opacity-08: rgba(255, 255, 255, 0.08);
